amqp==2.2.2
attrs==17.3.0
billiard==3.5.0.3
celery==4.1.0
certifi==2017.11.5
chardet==3.0.4
colorama==0.3.9
dj-database-url==0.4.2
Django==1.11.29
django-mathfilters==0.4.0
django-paypal==0.4.1
django-storages==1.6.5
gunicorn==19.7.1
html-testRunner==1.1.1
idna==2.6
Jinja2==2.9.5
kombu==4.1.0
MarkupSafe==1.0
paypal==1.2.5
pluggy==0.6.0
psycopg2==2.7.1
py==1.5.2
pytest==3.3.0
pytz==2017.2
requests==2.18.4
selenium==3.7.0
six==1.11.0
django-taggit==0.21.1
urllib3==1.22
vine==1.1.4
virtualenv==15.1.0
whitenoise==3.3.0
